.media{
    display: block;
}

h1{
     font-size: 2rem;
}

.cards{
    margin: auto 7rem;
    margin-top: -5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
}

.card{
    max-width: 100%;
}

.num{
    font-size: 4rem;

}

.cards > .card{
    flex-basis: auto;
    margin: 1rem;
}

.follower{
    margin-bottom: 2.5rem;
    color: var(--dark-grayblue);
    letter-spacing: 6px;
    font-size: 1.6rem;
}

h2{
    margin: 2rem 10rem 2rem 10rem;
}


.dark{
    display: block;
    margin-top: 2rem;
    display: flex;
    align-items: baseline;
}

.cardover{
    margin: auto 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    flex-direction: row;
}

.cardover > .over{
    flex-basis: auto;
    margin: 1rem;
}

.over{
    max-width: 100%;
    padding: 1rem 1.5rem;
}

img[alt="facebook"]{
    padding-left: 9rem;
}

.cardovers{
    margin: auto 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    flex-direction: row;
}

.cardovers > .over{
    flex-basis: auto;
    margin: 1rem;
}
